.carousel-item {
  background-color: royalblue;
  width: 200px;
  height: 250px;
  overflow: hidden;
  border-radius: 20px;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms;
  transform-origin: center left;
  position: relative;
}

.carousel-item:hover ~ .carousel-item {
  transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  transform: scale(1.5);
  opacity: 1;
}

.carousel-item__img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.carousel-item__details {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 450ms opacity;
  font-size: 10px;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.carousel-item__icons {
  margin-right: 5px;
}

.carousel-item__details p {
  margin: 0;
}

.carousel-item:hover .carousel-item__details {
  opacity: 1;
}
